<header>
     <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" id="mainNav">
      <div class="container">
        <a href="{{ path('<front>') }}"><img src="{{ path('<front>') }}/{{ logopath }}" alt="logo"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
        {{ page.primary_menu }}
        </div>
      </div>  
      </nav>
    </header>

     {{ page.slider }}
     
          <a id="main-content"></a>
          {{ page.content }}
        
<!--  Call To Action -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <h4>{{call_to_action}}</h4>
          </div>
        </div>
      </div>
    </section>
<!--  End Call To Action -->

<!-- FOOTER SECTION-->
    <section id="footer">
      <div class="container wow fadeInUp">
        <div class="row">

            <div class="col-md-4 col-sm-12 contact-details footer-columns">
            {{ page.footer_col_1}}
              <div class="location">
                <i class="fa fa-map-marker"></i>
                <h4>{{hospital_name}}</h4>
                <p>{{hospital_address}}</p>
              </div>
              <div class="location">
                <i class="fa fa-phone"></i>
                <p><a href="#">{{phonenumber}}</a></p>
              </div>
              <div class="location">
                <i class="fa fa-envelope"></i>
                <p><a href="#">{{Email}}</a></p>
              </div>
          </div>

          <div class="col-md-3 col-sm-12 footer-columns">
            <h6>Info</h6>
            <ul>
              {{ page.footer_col_2 }}
            </ul>  
          </div>
          <div class="col-md-3 col-sm-12 footer-columns footer-services">
           {{ page.footer_col_3 }}
          </div>
          <div class="col-md-2 col-sm-12 footer-columns">
            <h6>Social</h6>
            <div class="social">
              <ul>
               <li><a href="{{facebook}}"><i class="fa fa-facebook"></i> Facebook</a></li>
               <li><a href="{{twitter}}"><i class="fa fa-twitter"></i> Twitter</a></li>
               <li><a href="{{linkedin}}"><i class="  fa fa-linkedin"></i> Linkedin</a></li>
              </ul>  
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="copyright">
      <div class="container">
       {% if copyright %}
          {{copyright|raw}}
        {% endif %}
      </div>
  </div>
