<form {{ attributes }}>

{{element.elements.name}}
{{element.elements.contact_no}}
<div class="row">
   <div class="col-lg-6 col-12">
      {{element.elements.date	}}
   </div>
   <div class="col-lg-6 col-12">
      {{element.elements.docters_list}}
   </div>
</div>
{{element.elements.actions}}
{{ element.form_build_id }}
{{ element.form_token }}
{{ element.form_id }}
</form>

    {# <div class="row s-10">
        <div class="col-lg-6">
            {{ element.elements.name }}
        </div>
        <div class="col-lg-6">
            {{ element.elements.email }}
        </div>
        <div class="col-lg-12">
            {{ element.elements.message }}
        </div>
        {{ element.elements.actions }}
        
    </div> #}
